<h1>Profilim</h1>
İsim: <%= @profile.first_name %> <br>
Soy İsim: <%= @profile.last_name %> <br>
Email:  <%= @profile.user.email %> <br><br>

<% if profile_belongs_to_user?(@profile, current_user) %>
  <%= link_to "Güncelle", edit_profile_path(@profile) %>
<% end %>