<div class="panel panel-default">
    <div class="panel-body">
<h1> Makalelerim </h1>
<hr class="divider">
<% unless @articles.empty? %>
  <%  @articles.each do |article|  %>
    <%= render partial: 'article', locals: {article: article} %>
    <%= render partial: 'translate_orders/form', locals: {article: article} %>
    <hr class="divider">
  <% end %>
<% end %>
    </div>
</div>

