<%= render 'articles_list' %> </br>

<button class="btn btn-success float-right" style="background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%);"><%= link_to 'Yeni Makale Oluştur', new_article_path, style: "color: white; text-decoration: none " %></button> 

